body {
  font-family: serif;
  font-size: 14px;
	line-height: 1.5;
}

p {
	text-indent: 0;
	margin: 0;
  orphans: 2;
  widows: 2;
  -epub-hyphens: none;
}

p + p {
	text-indent: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -epub-hyphens: none;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

blockquote {
  font-style: italic;
}

blockquote em {
  font-style: normal;
}

img {
	max-width: 100%;
}

.chapter-title {
  margin-bottom: 4em;
}
