body {
  font-family: serif;
	line-height: 1.4;
}

p {
	text-indent: 0;
	margin: 0;
  orphans: 2;
  widows: 2;
  -epub-hyphens: none;
}

p + p {
	text-indent: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -epub-hyphens: none;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1.15em;
  font-weight: normal;
}

blockquote {
  font-style: italic;
}

blockquote em {
  font-style: normal;
}

img {
	max-width: 100%;
}

ol, ul {
  padding-left: 1.5em;
}

ul {
  list-style-type: none;
}

th {
  text-align: left;
}

td {
  padding-right: 1.5em;
}

td:last-child {
  padding-right: 0;
}

.chapter-title {
  margin-bottom: 4em;
}

.cover-image {
  page-break-after: always;
}

.title-page {
  text-align: center;
  font-family: serif;
  margin-top: 4em;
}

.title-page h1 {
  text-align: center;
}

.title-page .authors {
  font-size: 1.5em;
  font-family: sans-serif;
  margin-bottom: 2em;
}

.title-page .publisher {
  font-family: sans-serif;
}

.title-page .logo {
  width: 4em;
  margin: 1em auto;
}

.contents-indices {
  margin-bottom: 2em;
}

.contents-indices ul {
  padding-left: 0;
}

.entry-author {
  text-indent: 0;
  margin: 1.5em;
  text-align: right;
}

.cat-entry__details__print__item {
  page-break-before: always;
}

#lamp-signatures {
  font-size: .8em;
  border-collapse: collapse;
}

#lamp-signatures th,
#lamp-signatures td {
  border-bottom: 1px solid #aaa;
  padding-top: 3px;
  padding-bottom: 3px;
}

.catalogue-numbers {
  page-break-after: avoid;
}

.stamps img {
  height: 4em;
}

#stamps-table td {
  width: 20%;
}

.concordance table td {
  width: 50%;
}

.references ul,
.contributor-bios ul,
.publisher ul,
.illustration-credits ul {
  padding-left: 0;
}

.references ul li {
  margin-bottom: .75em;
}

.contributor-bios {
  padding-left: 0;
}

.contributor-bios li {
  margin-bottom: 1em;
}

.cc-logo {
  height: 1.5em;
}

.description {
  margin-bottom: 1em;
}

.revision-history {
  margin-top: 1em;
}

.loc-cip ul {
  padding-left: 0;
  margin-top: 0;
  margin-left: 1.5em;
  text-indent: -1.5em;
}

.illustration-credits p {
  text-indent: 0;
  margin-bottom: 1em;
}