.catalogue-grid {
  &__header {
    &__filter {
      margin: 1rem 0;
    }

    .label {
      display: block;
      margin-bottom: $small-spacing;
      text-align: center;
    }

    .select-container {
      @include media($medium-screen-up) {
        margin: 0 auto;
        width: 50%;
      }
    }

    h3 { text-align: center; }
    h4 { text-align: center; }
    select { text-align: center; width: 100%; }
  }
}
