.cat-entry__header {
  @include position(relative);
  background-color: $dark-gray;
  height: 90vh;
  margin-bottom: $base-spacing;
  width: 100%;

  @include media($large-screen-up) {
    height: 100vh;
  }
}

.cat-entry__image {
  background-color: $dark-gray;
  height: 100%;

  .leaflet-control-container {
    position: absolute;
    top: 60px;
    width: 100%;
    // z-index: 400;
  }
}

.cat-entry__header__titlebar {
  @include position(absolute, null null 0 null);
  background-color: transparent;
  width: 100%;
  z-index: 1000;

  @include media($large-screen-up) {
  }
}

.cat-entry__header__titlebar__inner {
  @extend .body-copy;
  @extend .container;
  padding: $base-spacing $small-spacing 0;

  @include media($large-screen-up) {
    padding: $base-spacing 0;
  }
}

.cat-entry__breadcrumbs-bar {
  background-color: $light-gray;
  padding: $base-spacing;
  // margin-bottom: $base-spacing * 1.5;
  text-align: center;

  &__text {
    // font-size: $base-font-size;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.cat-entry__title {
  color: #fff;
  margin-bottom: 0;
  text-align: center;

  @include media($medium-screen-up) {
    @include span-columns(10);
    @include shift(1);
  }

  @include media($large-screen-up) {
    @include span-columns(8);
    @include shift(2);
    padding: 0;
  }
}

.cat-details {
  line-height: 1.5;
  margin-bottom: $base-spacing;

  li {
    font-size: 0.875em;
  }
}

.cat-details__columns {
  @include columns(2 $base-spacing);

  .cat-details {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    font-size: 1.125rem;
    margin-bottom: 0;
    padding-bottom: $base-spacing;
  }
}

.cat-entry__content {
  @extend .body-copy;
  @extend .container;
  margin-bottom: $base-spacing * 2;
}

.cat-entry__content__inner {
  @include media($medium-screen-up) {
    @include span-columns(10);
    @include shift(1);
  }

  @include media($large-screen-up) {
    @include span-columns(8);
    @include shift(2);
  }
}

.cat-entry__scale {
  fill: $light-gray;
  margin-top: $small-spacing;
  vertical-align: middle;
  width: 50%;
}
