$gr-start: hsla(0, 0%, 0%, 0);
$gr-stop: hsla(0, 0%, 0%, 0.9);

.cover {
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-end);
  background-color: $dark-gray;
  background-image: url('../images/cover-background.jpg');
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: $base-z-index;
}

.cover__inner {
  @include background-image(linear-gradient(to bottom, $gr-start, $gr-stop));
  color: $white;
  padding: 2em 0.5em;
  text-align: center;
  text-shadow: 3px 3px 5px $gr-stop;
  width: 100%;

  @include media($medium-screen-up) { padding: 4em 2em; }
  @include media($large-screen-up) {}
}

.cover__title {
  font-family: $base-font-family;
  font-size: 2.25em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 6rem;
  text-transform: uppercase;

  @include media($medium-screen-up) { font-size: 4em; }
  @include media($large-screen-up) { font-size: 5em; }
}

.cover__subtitle {
  font-family: 'Freight Text Pro SC';
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include media($medium-screen-up) { font-size: 2em; }
  @include media($large-screen-up) { font-size: 3em; }
}

.cover__author,
.cover__contributors {
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto;
  max-width: 30em;

  @include media($medium-screen-up) {
    font-size: 1.5em;
    margin: 1em auto;
  }
}

.cover__contributors {
  text-align: center;
}

.cover__map .map {
  background-color: $light-gray;
  height: 500px;
}

.cover__copy,
.cover__highlights,
.cover__map__inner {
  @extend .body-copy;
  @extend .container;
  margin-bottom: 1em;
  margin-top: 1em;

  .button {
    clear: both;
    display: table;
    font-family: $heading-font-family;
    margin: 2em auto;
  }
}

.cover__copy__inner,
.cover__highlights__inner {
  @include media($medium-screen-up) {
    @include span-columns(10);
    @include shift(1);

    p + p { text-indent: 0; }
  }
}

.cover__highlights__section {
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;

  h3,
  p {
    font-size: 1.25em;
    + p { text-indent: 0; }
  }

  @include media($medium-screen-up) {
    @include span-columns(6);

    &:last-of-type {
      @include omega;
    }
  }
}

.cover__colophon {
  background-color: $light-gray;
  font-family: $heading-font-family;
  font-weight: 400;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.cover__colophon__inner {
  @extend .container;
}

.colophon__text {
  @include media($large-screen-up) {
    float: left;
    margin-left: $base-spacing;
  }

  p { margin-bottom: 0; }
}

.colophon__logo {
  padding-top: $base-spacing;
  width: 70px;

  @include media($large-screen-up) {
    float: right;
    margin-right: $base-spacing;
    padding-top: 0;
  }
}
