// scss-lint:disable SingleLinePerSelector

// https://github.com/joshfry/omega-reset-for-bourbon-neat
// Pass in the previous media query's omega() argument to reset it
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none; }
}

@keyframes repaint {
  from { height: 99.9%; }
  to { height: 100%; }
}

html { min-height: 100vh; }

.body-copy {
  p {
    margin-bottom: 0;
    + p { text-indent: $base-spacing; }
    + h3 { margin-top: $base-spacing; }
  }

  p, ol, ul { font-size: 1.25rem; }
  ol { @extend %default-ol; }

  @include media($medium-screen-up) {
    p, ol, ul { font-size: 1.35rem; }
  }

  @include media($large-screen-up) {
    p, ol, ul { font-size: 1.45rem; }
  }

  h2, h3, h4 { margin-top: $small-spacing; }

  blockquote {
    background-color: $light-gray;
    border-radius: $base-border-radius;
    margin: $base-spacing 0;
    padding: $small-spacing;

    h2, h3, h4 { margin-top: 0; }
  }

  figure {
    + p { text-indent: $base-spacing; }
  }

  // superscript map links get weird spacing without this override
  .location-link { text-indent: 0; }
}

.container {
  @include outer-container;
  padding: 0 $small-spacing;

  @include media($large-screen-up) { padding: 0; }
}

.page .smaller-text {
  * { font-size: 1em; }
  h2 { font-size: modular-scale(1); }

  p {
    margin-bottom: 1em;
    + p { text-indent: 0; }
  }

  .loc-cip p {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 0;
  }
}

.section-nav {
  margin: 0 0 $base-spacing;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @include media($large-screen-up) {
    margin: 0 0 $base-spacing;
    text-align: center;

    li {
      display: inline;

      &::after { content: " | "; }
      &:last-of-type {
        &::after { content: ""; }
      }
    }
  }
}

.footnotes {
  border-top: $base-border;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
  padding-top: $small-spacing;
  text-align: center;

  &::before {
    content: "Notes";
    font-family: "Freight Text Pro SC";
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  ol { margin-top: $small-spacing; padding-left: $small-spacing; }

  p, ol, ul {
    font-size: 0.875rem !important;
    text-align: left;
  }
}
// scss-lint:enable SingleLinePerSelector

.hide-on-mobile {
  @include media($small-screen) { display: none; }
}

.page__content p.entry-author {
  margin-bottom: $base-spacing;
  margin-top: $small-spacing;
  margin-right: $small-spacing;
  // display: block;
  text-align: right;
  text-indent: 0;
}

p.entry-author + p {
  text-indent: 0;
}

.centered { text-align: center; }

.smcaps {
  @include font-feature-settings("c2sc", "smcp", "kern");
  font-variant: all-small-caps;
}

.map-fullscreen {
  height: 100%;

  .leaflet-control-container {
    display: none;

    @include media($medium-screen-up) {
      bottom: 4rem;
      display: block;
      position: absolute;
      top: 60px;
      width: 100%;
    }

    @include media($large-screen-up) {
      bottom: 5.45rem;
    }
  }
}

.force-wrap {
  // @include prefixer(hyphens, auto, webkit moz ms spec);
  overflow-wrap: break-word;
  // word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

.map-intro {
  .cat-entry-content {
    padding-top: $base-spacing;
  }
}

.expander {
  @include transition($base-transition);
  .expander-trigger { display: block; }
  .expander-content { margin-bottom: $base-spacing; }
  .expander--hidden { display: none;}
}

.noscroll {
  overflow: hidden;
  // position: fixed;
}

.meta {
  color: $medium-gray;
  font-size: modular-scale(-1);
  line-height: 1;
}


// Inline Figure Styles
figcaption { margin-top: $small-spacing * 0.5; }

.figure-group {
  + p {
    clear: both;
    text-indent: $base-spacing;
  }

  @include media($large-screen-up) { clear: both; }
}

.inline-figure {
  @include margin(($base-spacing * 1.5) $small-spacing);
  @include padding(null $small-spacing);
  cursor: pointer;

  + p { text-indent: $base-spacing; }
}

.figure-left,
.figure-group-left {
  @include media($large-screen-up) {
    float: left;
    margin-left: 0;
    width: 48%;
  }
}

.figure-right,
.figure-group-right {
  @include media($large-screen-up) {
    float: right;
    margin-right: 0;
    width: 48%;
  }
}

.figure-group-right,
.figure-group-left {
  @include media($large-screen-up) {
    .inline-figure {
      @include margin(($base-spacing * 0.75) $small-spacing);
    }

    .inline-figure:first-child {
      @include margin(($base-spacing * 1.5) $small-spacing ($base-spacing * 0.75));
    }

    .inline-figure:last-child {
      @include margin(($base-spacing * 0.75) $small-spacing ($base-spacing * 1.5));
    }
  }
}

.is-hidden {
  display: none;
}

.map {
  &__container {height: 100vh;}
  &__popup {z-index: $z-index-9;}

  &__label {
    &__sea {
      cursor: pointer;
      z-index: 200 !important;

      p {
        color: #fff;
        font-family: $heading-font-family;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1;
        text-align: center;
      }
    }
    &__river {
      cursor: pointer;
      z-index: 200 !important;

      p {
        color: #176ab7;
        font-family: $heading-font-family;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1;
        text-align: center;
      }
    }

    &__region {
      cursor: pointer;
      z-index: 200 !important;

      p {
        color: #000;
        font-family: $heading-font-family;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        // text-transform: capitalize;
      }
    }

    &__country { cursor: pointer; }

    &__country p {
      @extend .smcaps;
      color: #000;
      font-family: $base-font-family;
      font-size: 1.7rem;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      text-shadow: 1px 1px transparentize($base-background-color, 0.5);
      text-transform: capitalize;
    }

    &__site p {
      font-family: $heading-font-family;
      font-weight: normal;
      line-height: 1;
    }
  }
}

.map-label-catalogue {
  background-color: $base-background-color;
  border-radius: $base-border-radius;
  font-family: $heading-font-family;
  line-height: 1;
  text-align: center;

  p { margin: 0.25rem; }
}
