.page {
  @extend .container;
  margin-bottom: $base-spacing * 2;

  &__cover {
    background-color: $light-gray;
    background-position: center;
    background-size: cover;
    height: 300px;

    @include media($medium-screen-up) {height: 400px;}
    @include media($medium-screen-up) {height: 550px;}
    + .page .page__header {margin-top: $base-spacing;}
  }

  &__header,
  &__content {
    @include media($medium-screen-up) {
      @include span-columns(10);
      @include shift(1);
    }

    @include media($large-screen-up) {
      @include span-columns(8);
      @include shift(2);
    }
  }

  &__header {
    margin-bottom: $base-spacing * 1.5;
    margin-top: em($navbar-height) + $base-spacing;

    &__title { margin-bottom: 0; }
    &__author {
      color: $medium-gray;
      font-size: modular-scale(2);
      font-weight: normal;
      margin-bottom: 0;
      margin-top: 0.25rem;
    }
  }

  &__content {
    @extend .body-copy;

  }
}

.page__content .references {

  p {
    font-size: modular-scale(-1);
    + p { text-indent: 0; }
  }

  ul { margin: 0; padding-left: 0; }
  li { break-inside: avoid-column; list-style-type: none; padding-bottom: 0.5em; }
  sup { padding-left: 2px; }
}

.contributor-bios,
.glossary {
  list-style-type: none;
  padding: 0;
  li { margin-bottom: $small-spacing; }
}

.glossary .term {
  font-style: italic;
}

table + .references {
  margin-top: $base-spacing * 3;
}


#stamps-table {
  text-align: center;

  th:first-child,
  td:first-child { width: 16.66%; }

  .catalogue-numbers td { border-bottom: 0; }
  .stamps img { max-height: 4rem; }
  .group-end {
    td {
      border-width: 2px;
      border-color: $medium-gray;
    }
  }
}



.license p:first-child { margin-bottom: 0; }

.loc-cip {
  margin-bottom: $base-spacing;

  p { margin-bottom: 0; }
  ul { margin-top: 0; }
  li { padding-left: $base-spacing; text-indent: -$base-spacing; }
}

.illustration-credits li {
  padding-left: $base-spacing;
  text-indent: -$base-spacing;
}

.book-index {
  strong { font-weight: normal; }
  ul { font-size: modular-scale(1); }

  .page-numbers,
  .index-note { display: none; }

  li {
    padding-left: $base-spacing * 0.5;
    text-indent: -$base-spacing * 0.5;

    ul {
      padding-left: $base-spacing * 0.25;
      text-indent: -$base-spacing * 0.25;
    }
  }
}

.inscription {
  letter-spacing: 2px;
  font-size: 0.8em;
}

.classification-page {
  .classification {
    padding-left: 1em;
  }
  .empty-level {
    list-style-type: none;
  }
}

.print-only {
  display: none;
}
