.contents-page {
  ul { padding-left: 0; }

  ul.contents {
    list-style-type: none;
    margin-left: 0;
  }

  ul.contents li {
    margin-bottom: $base-spacing / 2;
  }

  .contents__frontmatter ul {
    list-style-type: none;
  }

  .contents__backmatter ul {
    list-style-type: none;
  }
}

.classification-page {
  ol { font-size: 1.25rem; padding-left: $small-spacing; }
  ol.classification { padding-left: $base-spacing; }
}