.contents-page {
  ul { padding-left: 0; }

  ul.contents {
    list-style-type: none;
    margin-left: 0;
  }

  ul.contents li {
    margin-bottom: $base-spacing / 2;
  }

  .contents__frontmatter ul {
    list-style-type: none;
  }

  .contents__backmatter ul {
    list-style-type: none;
  }
}

.contents-catalogue {
  margin-top: $base-spacing * .7;
  margin-bottom: $base-spacing * .7;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing * .5;
  border-top: $base-border;
  border-bottom: $base-border;
  ol {
    margin-top: $small-spacing;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    padding-left: $base-spacing * 1.5;
  }
}

.contents-indices {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing * 1.5;
  // padding-top: $small-spacing;
  padding-bottom: $small-spacing * .5;
  border-bottom: $base-border;
  ol {
    margin-top: $small-spacing;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    padding-left: $base-spacing * 1.5;
  }
}

.contents-indices + li {
  margin-top: $base-spacing * .7;
}
