@import 'vendor/normalize';
@import 'vendor/bourbon/bourbon';
@import 'base/grid-settings';
@import 'vendor/neat/neat';
@import 'fonts';
@import 'vendor/ionicons/ionicons';
@import 'base/base';

// Source Serif Pro
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&subset=latin-ext');

// scss-lint:disable PropertySpelling, QualifyingElement, SingleLinePerSelector, EmptyRule

// Variables
// -----------------------------------------------------------------------------
$page-width: 8.5in;
$page-height: 11in;

$bleed: 0.125in;
$bleed-height: 11.25in;
$bleed-width: 8.75in;

$bottom-margin: 0.875in;
$top-margin: 0.75in;
$inner-margin: 1in;
$outer-margin: 0.75in;

$inner-width: $page-width - ($inner-margin + $outer-margin);
$inner-height: $page-height - ($top-margin + $bottom-margin);

$print-base-font-size: 8pt;
$print-base-spacing: 0.125in;
$print-base-line-height: 1.25;
$print-paragraph-indent: 0.1875in;

$print-background-color: #fff;
$print-text-color: #000;

$page-number-size: 7.5pt;
$footnote-size: 7.5pt;

// Overrides
$base-font-size: $print-base-font-size;
$modular-scale-ratio: $minor-second;

// Default page setup
// -----------------------------------------------------------------------------
// @prince-pdf { prince-pdf-page-layout: two-column-right; }

@page {
  size: $page-width $page-height;
  prince-bleed: $bleed;
  bleed: $bleed;
  prince-trim: 0.25in;
  marks: crop;
}

@page:left {
  margin-bottom: $bottom-margin;
  margin-left: $outer-margin;
  margin-right: $inner-margin;
  margin-top: $top-margin;

  @bottom-left {
    content: counter(page);
    font-family: $base-font-family;
    font-size: $page-number-size;
  }
}

@page:right {
  margin-bottom: $bottom-margin;
  margin-left: $inner-margin;
  margin-right: $outer-margin;
  margin-top: $top-margin;

  @bottom-right {
    content: counter(page);
    font-family: $base-font-family;
    font-size: $page-number-size;
  }
}

@page bleed {
  margin: 0;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page titlepage:left {
  margin-left: -($bleed);
  margin-top: -($bleed);
  margin-bottom: -($bleed);
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: 8.625in 11.25in;
  background-image: url('../images/titlepage-background-l.jpg');
  background-position: center right;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page titlepage:right {
  margin-left: 0;
  margin-top: -($bleed);
  margin-bottom: -($bleed);
  margin-right: -($bleed);
  background-repeat: no-repeat;
  background-size: 8.625in 11.25in;
  background-image: url('../images/titlepage-background-r.jpg');
  background-position: center left;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page catalogue-landing:left {
  margin-left: -($bleed);
  margin-top: -($bleed);
  margin-bottom: -($bleed);
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: 8.625in 11.25in;
  background-image: url('../images/catalogue-background.jpg');
  background-position: center right;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page catalogue-landing:right {
  margin-left: 0;
  margin-top: -($bleed);
  margin-bottom: -($bleed);
  margin-right: -($bleed);
  background-repeat: no-repeat;
  background-size: 8.625in 11.25in;
  background-image: url('../images/catalogue-background.jpg');
  background-position: center left;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page indices-landing:left {
  margin-left: -($bleed);
  margin-top: -($bleed);
  margin-bottom: -($bleed);
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: 8.625in 11.25in;
  background-image: url('../images/indices-background.jpg');
  background-position: center right;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page indices-landing:right {
  margin-left: 0;
  margin-top: -($bleed);
  margin-bottom: -($bleed);
  margin-right: -($bleed);
  background-repeat: no-repeat;
  background-size: 8.625in 11.25in;
  background-image: url('../images/indices-background.jpg');
  background-position: center left;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page frontmatter:left {
  margin-bottom: $bottom-margin;
  margin-left: $outer-margin;
  margin-right: $inner-margin;
  margin-top: $top-margin;
  @bottom-left { content: counter(page, lower-roman); }
}

@page frontmatter:right {
  margin-bottom: $bottom-margin;
  margin-left: $inner-margin;
  margin-right: $outer-margin;
  margin-top: $top-margin;
  @bottom-right { content: counter(page, lower-roman); }
}

@page no-footer:left {
  margin-bottom: $bottom-margin;
  margin-left: $outer-margin;
  margin-right: $inner-margin;
  margin-top: $top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page no-footer:right {
  margin-bottom: $bottom-margin;
  margin-left: $inner-margin;
  margin-right: $outer-margin;
  margin-top: $top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

// Print Placeholder Styles
// -----------------------------------------------------------------------------
%full-page-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: $bleed-height;
  margin-left: -($bleed);
  margin-top: -($bleed);
  page: spread-bleed;
  page-break-after: always;
  width: $bleed-width;
}

%print-page-content {
  color: $print-text-color;
  column-count: 2;
  column-fill: auto;
  column-gap: ($print-base-spacing * 2);
  font-size: $print-base-font-size;

  a[href] {
    color: $print-text-color;
    prince-link: none;
    text-decoration: none;
  }

  p {
    margin: 0;
    + p { text-indent: $print-paragraph-indent; }
  }

  h2, h3, h4, h5, h6 {
    prince-bookmark-level: none;
  }
}

// Print-specific sections
// -----------------------------------------------------------------------------
.print-frontmatter {
  page: frontmatter;
}

.print__cover {
  page: no-footer;
}

.print__halftitle {
  counter-reset: page 1;
  margin-right: 0;
  margin-top: 4in;
  page: no-footer;
  page-break-before: right;
  text-transform: lowercase;

  &__title {
    font-family: 'Freight Text Pro';
    font-size: 23pt;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $medium-gray;
    font-family: 'Freight Text Pro SC';
    font-size: 15pt;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
  }
}

.print__titlepage {
  &__left {
    font-family: 'Freight Text Pro';
    font-size: 18pt;
    font-weight: 400;
    margin-left: 0.75in;
    margin-top: 9.75in;
    page: titlepage;
    page-break-after: always;
  }

  &__right {
    page: titlepage;
    page-break-after: always;

    &__title {
      font-family: 'Freight Text Pro';
      font-size: 49pt;
      font-weight: 400;
      letter-spacing: 3pt;
      line-height: 1;
      margin-bottom: 0;
      margin-top: 2.5in;
      text-align: center;
      text-transform: uppercase;
    }

    &__subtitle {
      font-family: 'Freight Text Pro SC';
      font-size: 34pt;
      font-weight: normal;
      letter-spacing: 0;
      margin-bottom: 0;
      margin-top: -0.1in;
      text-align: center;
    }

    &__author {
      font-size: 16pt;
      line-height: 1.5;
      margin-top: 6pt;
      text-align: center;
    }
  }
}

.print__copyright {
  font-family: $heading-font-family;
  font-size: 7.5pt;
  margin-right: 1in;
  page: no-footer;
  page-break-after: always;

  p, ul {
    margin-bottom: $print-base-spacing;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
  }

  .cc-logo { width: 0.625in; }

  .loc-cip,
  .related-titles {
    p { margin-bottom: 0; }
  }

  .loc-cip {
    li {
      padding-left: $print-base-spacing;
      text-indent: -$print-base-spacing;
    }
  }
}

// Print rules for sections also present in web version
// -----------------------------------------------------------------------------

// Frontmatter page rules
.foreword,
.acknowledgments,
.abbreviations-and-notes {
  page: frontmatter;
}

.contents {
  page: no-footer;
}

.introduction {
  counter-reset: page 1;
}

.classification,
.contents-page, {
  column-span: all;
}

// Table of Contents (overrides)
.page__content .contents-page {
  margin-left: 0;

  ul {
    line-height: 2;
    list-style-type: none;
  }

  li { font-size: $print-base-font-size * 1.25; }

  a::after {
    content: leader(dotted) ' ' target-counter(attr(href, url), page);
  }

  .contents-subhead a::after {
    content: '';
  }

  .frontmatter a::after {
    content: leader(dotted) ' ' target-counter(attr(href, url), page, lower-roman);
  }
}

// Typological Classification (overrides)

// Unsatisfying v1
//
// .page__content .classification {
//   a::after {
//     content: ' ...................... p. ' target-counter(attr(href, url), page);
//   }
//   a.footnote::after {
//     content: '';
//   }
// }


// v2, cat #s in parens to right,
// instead of parens, could also be comma
// I also tried a v3 with the leader between the typology and the cat/page #
// but `content: leader(dotted)` doesn't seem to work with a ::before pseudo class
//
.page__content .classification {
  a {
    float: none;
    font-size: 8pt;
    margin-left: 0;
    text-transform: lowercase;

    &::before {
      content: '(';
      font-size: 8pt;
    }

    &::after {
      content: ')' leader(dotted) ' ' target-counter(attr(href, url), page);
      font-size: 8pt;
    }

    &.footnote {
      &::before { content: ''; }
      &::after { content: ''; }
    }
  }
}

.classification + .footnotes {
  column-span: all;
  page-break-inside: avoid;
}


// References (overrides)

.page__content .references {
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    page-break-inside: avoid;
    margin-bottom: $print-base-spacing;
  }
}

// Catalogue landing page rules
body.catalogue.landing {
  page: catalogue-landing;
  page-break-after: always;

  .page__header {
    margin-right: 1.5in;
    margin-top: 2.5in;
    text-align: right;

    h1 { font-size: 18pt; }
  }

  .page__content { display: none; }
}

// Indices page rules
body.indices.landing {
  page: indices-landing;
  page-break-after: always;

  .page__header {
    margin-right: 1.5in;
    margin-top: 2.5in;
    text-align: right;

    h1 { font-size: 18pt; }
  }

  .page__content { display: none; }
}

// General page styles
.page,
.cat-entry,
.cat-intro {
  @extend %print-page-content;

  &__header {
    margin-bottom: $print-base-spacing * 3;
    * { column-span: all; }
    &__title {font-size: 14pt;}
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: $print-base-spacing;
  }

  ul, ol {
    margin-left: $print-base-spacing;
    padding-left: $print-base-spacing;
  }
}

// Catalogue section rules for both intro and entry pages
.cat-intro,
.cat-entry {
  h1 { prince-bookmark-level: 2; }

  &__breadcrumbs-bar {
    color: $medium-gray;
    font-size: $print-base-font-size;
    margin-bottom: $print-base-spacing;

    * { column-span: all; }
  }

  &__content__inner {
    figure {
      margin: ($print-paragraph-indent * 1.5) $print-paragraph-indent;
      &.figure-print-multicolumn { column-span: all; }
    }
  }
}

// Catalogue intro rules
.cat-intro {
  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5.5in;
    width: 100%;

    @for $i from 1 through 700 {
      &[data-cat="#{$i}"] { background-image: url("../images/banners/#{$i}.jpg"); }
    }
  }

  &__title__secondary { color: $medium-gray; }
}

// Catalogue entry rules
.cat-entry {
  &__grid { display: none; }
  &__image { display: none; }
  &__image-credit { display: none; }
  &__title { font-size: 16pt; }
  &__details__stamp {
    display: block;
    margin: $print-base-spacing;
  }

  .entry-with-footnotes,
  .print-inline-paragraph {
    display: inline;
    text-indent: 0;
  }

  .entry-with-footnotes + .footnotes {
    border-top: 0;
    margin-bottom: inherit;
    margin-top: inherit;
    padding-top: 0;
    text-align: left;

    &::before { content: ''; }

    ol {
      margin-left: $print-base-spacing;
      margin-top: $print-base-spacing;
    }
  }

  &__details__print {
    &__text {
      .section-title { font-weight: bold; }
      .section {
        font-size: 8pt;
        margin-bottom: $print-base-spacing;
        // scss-lint:disable NestingDepth
        td {
          border-bottom-width: 0;
          padding-bottom: 3pt;
          padding-top: 3pt;
        }

        .cat-number {
          border-top: solid 0.25pt $print-text-color;
          margin-top: $print-base-spacing * 2;
          padding-top: 3pt;

        }
        // scss-lint:enable NestingDepth
      }
    }

    &__image {
      margin-top: $print-base-spacing;
      position: static;
      width: 100%;
    }

    table tr:last-child td { border-bottom: 0; }
  }
}

h2.cat-number {
  font-size: 12pt;
}


// Rules for globally-occuring elements
// -----------------------------------------------------------------------------
.print-only {
  display: inline;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.screen-only { display: none; }

// Footnotes and reverse footnotes
.footnotes {
  border-top: $base-border;
  margin-bottom: $print-base-spacing;
  margin-top: ($print-base-spacing * 1.5);
  padding-top: $print-base-spacing;
  text-align: center;

  &::before {
    content: 'Notes';
    font-family: 'Freight Text Pro SC';
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  ol { margin-top: $print-base-spacing; }

  p, ol, ul {
    text-align: left;
  }
}

.reversefootnote { display: none; }
.collection-link { display: none; }

.inscription {
  font-family: "Source Serif Pro", serif;
  font-size: 0.8em;
  letter-spacing: 2px;
}

// Full print heading styles
.full-print-heading {
  column-span: all;

  // + p {
  //   column-span: all;
  //   margin-bottom: $print-base-spacing;
  // }
}

h4.full-print-heading,
h3.full-print-heading {
  margin-top: $print-base-spacing * 3;
}

h3.full-print-heading:first-of-type {
  margin-top: $print-base-spacing;
}

.stamps td img { height: 1.2cm; }

.classification,
.discus-index,
.contents-page {
  ul, ol, li {
    font-size: 8pt;
    font-weight: normal;
    text-transform: none;
  }

  > li {
    font-size: 10pt;
    margin-bottom: $print-base-spacing;
    text-transform: uppercase;
  }

  .empty-level { list-style-type: none; }
}

// lines lists up to headings
.index ul, .index ol {
  padding-left: 0;
  text-indent: -1.2em;
}

ul.index-places,
ol.discus-index {
  padding-left: 4pt;
}

.page__content p.entry-author {
  margin-bottom: $base-spacing;
  margin-right: $small-spacing;
  margin-top: $small-spacing;
  text-align: right;
  text-indent: 0;
}

p.entry-author + p {
  text-indent: 0;
}

ul.contributor-bios {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  li { margin-bottom: $print-base-spacing; }
}

// Rules for specific single elements

// scss-lint:disable IdSelector
#concordance-inv-no { width: 60%; }
#stamps-table-heading { page-break-before: always; }
#stamps-table .catalogue-numbers td { border-bottom: 0; }

#lamp-signatures,
#stamps-table {
  column-span: all;
  margin-bottom: $print-base-spacing * 3;
}

#lamp-signatures,
#lamp-signatures-heading {
  margin-left: $print-base-spacing;
}
// scss-lint:enable IdSelector
