body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

// Type scale
// h6 { font-size: modular-scale(-1); }
// h5 { font-size: modular-scale(0); }
// h4 { font-size: modular-scale(1); }
// h3 { font-size: modular-scale(2); }
// h2 { font-size: modular-scale(3); }
// h1 { font-size: modular-scale(4); }

h6 { font-size: 0.8rem; }
h5 { font-size: 1rem; }
h4 { font-size: 1.125rem; }
h3 { font-size: 1.35rem; }
h2 { font-size: 1.625rem; }
h1 { font-size: 1.85rem; }

@media print {
  h6 { font-size: 9pt; }
  h5 { font-size: 10pt; }
  h4 { font-size: 11pt; }
  h3 { font-size: 12pt; }
  h2 { font-size: 14pt; }
  h1 { font-size: 16pt; }
}

