.cat-entry__details
  .cat-entry__details__image#js-deepzoom
  .cat-entry__details__data#entry-template-container
  .cat-entry__details__close
    %i.close-button
  %template#entry-template.cat-entry__details__data__item
    %table.cat-entry__tombstone
      %tbody
        %tr
          %td
            %strong Catalogue Number
          %td
            %strong#entry-cat-number
        %tr
          %td Inventory Number
          %td#entry-inv-number
        %tr
          %td Dimensions
          %td#entry-dimensions
        %tr
          %td Condition and Fabric
          %td#entry-condition
        %tr
          %td Type
          %td#entry-type
        %tr
          %td Place
          %td#entry-place
    .cat-entry__details__text
      %h3 Description
      %p#entry-description
      %h3 Provenance
      %p#entry-provenance
      %h3 Parallels
      %p#entry-parallels
      %h3 Discussion
      %p#entry-discussion
