<div class="search-results-inner">
  <ul class="search-results-list">
  </ul>
</div>
<template id="search-results-template">
  <li class="search-results-list-item">
    <a class="search-results-list-item-link" href=""></a>
  </li>
</template>
