<div class="search-results-inner">
</div>
<template id="search-results-template">
  <ul class="search-results-list">
    <li class="search-results-list-item">
      <a href=""></a>
    </li>
  </ul>
</template>
