---
title: Abbreviations and Notes to Readers
layout: page
sort_order: 4
---

References to “cat./cats.” are cross-references to entries in the present catalogue. References to “cat. no./nos.” refer to other catalogues.

An “ovo pattern” is a motif often found on the base of African second-century A.D. lamps. It consists of two small circles linked by a V-shaped design. None of these parts is a letter. This motif is repeated three times evenly displayed between two circular lines. For slight variations, see <a href='../bibliography/#bussiere-2000'>Bussière 2000</a> (p. 235, nos. 76–78). The pattern may be specific to some workshops.

Throughout the catalogue, the stamps are reproduced at or near actual size.

###Place of Manufacture or Origin

None of the lamps in this catalogue comes from a precisely documented archaeological excavation. Information on the place of manufacture or origin derives from the collectors from whom the Museum acquired the lamps and likely represents an attribution made by their art market sources. In the case of lamps formerly in the collection of Hans-Klaus Schüller, a noted specialist in the field, the locations cited often refer to a presumed production center or region, but they may also indicate the place where he obtained the lamp or believed it was found. Although his information is unverified, it has been retained in this catalogue. Where there is ambiguity or disagreement, we evaluate the attributed place of manufacture in the object entry and propose corrections based on form, fabric, signatures, workshop marks, or other pertinent evidence. For further discussion and an index of the given places of manufacture or origins, see the <%= link_to "Introduction", "../introduction.html" %> and the <%= link_to "Index of Donors and Vendors", "../donors-and-vendors.html" %>.


| acc. no. | accession number |
| BM | The British Museum |
| Bus. | Bussière, with reference to nozzle forms (e.g., Bus. 2a) |
| ca. | circa |
| cat. | catalogue number, Getty collection |
| cat. no. | catalogue number, other collections |
| col./cols. | column/-s |
| D | depth |
| Diam | diameter |
| dim. | dimension |
| east. | eastern |
| ed. | editor/edited by |
| edn. | edition |
| esp. | especially |
| ex. | example/-s |
| fasc. | fascicule/-s |
| fig./figs. | figure/-s |
| fr./frr. | fragment/-s |
| H | height |
| ILA | International Lychnological Association |
| inv. no. | inventory number |
| L | length |
| MAN | Musée d’Archéologie Nationale de Saint-Germain-en-Laye |
| max. | maximum |
| MNR | Museo Nazionale Romano/ <a href='../bibliography/#barbera-petriaggi-1993'>Barbera and Petriaggi 1993</a> |
| n./nn. | note/-s |
| no./nos. | number/-s |
| p./pp. | page/-s |
| pl./pls. | plate/-s |
| pres. | preserved |
| ref./refs. | reference/-s |
| suppl. | supplement |
| TSA | Terra Sigillata Africana |
| var./vars. | variant/-s |
| vol./vols. | volume/-s |
| W | width |
