---
title: Bibliography
layout: page
sort_order: 205
---

### Abbreviations

| **<a href='../bibliography/#alaoui-i'>Alaoui I</a>** | Du Coudray La Blanchère, R., and P. Gauckler. *Catalogue du Musée Alaoui.* Paris, 1897. |
| **<a href='../bibliography/#alaoui-i'>Alaoui I</a>I** | Hautecoeur, M. L. *1<sup>er</sup> Supplément au catalogue du Musée Alaoui.* Paris, 1910. |
| **<a href='../bibliography/#alaoui-i'>Alaoui I</a>II** | Merlin, A., and R. Lantier. *2<sup>e</sup> Supplément au catalogue du Musée Alaoui.* Paris, 1922. |
| ***Passion for Antiquities*** | *A Passion for Antiquities:* *Ancient Art from the Collection of Barbara and Lawrence Fleischman.* Exh. cat. The J. Paul Getty Museum. Malibu, 1994. |
| ***Atlante*** **I** | Carandini, A., et al., eds. *Ceramica fine romana nel bacino mediterraneo* (*medio et tardo* *impero*). Vol. 1 of *Atlante delle forme ceramiche.* (*Enciclopedia dell’arte antica*.) Rome, 1981. |
| **<a href='../bibliography/#bailey-1965'><a href='../bibliography/#bailey-1965'>Bailey 1965</a></a>** | (VAM) Bailey, D. M. “Lamps in the Victoria and Albert Museum.” *Opuscula Atheniensia* 6:1–83. |
| **<a href='../bibliography/#bailey-bm-i'>Bailey BM I</a>** | Bailey, D. M. *Greek, Hellenistic and Early Roman Pottery Lamps.* Vol. 1 of *A Catalogue of the Lamps in the British Museum.* London, 1975. |
| **<a href='../bibliography/#bailey-bm-i'>Bailey BM I</a>I** | Bailey, D. M. *Roman Lamps Made in Italy*. Vol. 2 of *A Catalogue of the Lamps in the British Museum*. London, 1980. |
| **<a href='../bibliography/#bailey-bm-i'>Bailey BM I</a>II** | Bailey, D. M. *Roman Provincial Lamps.* Vol. 3 of *A Catalogue of the Lamps in the British Museum*. London, 1988. |
| **<a href='../bibliography/#bailey-bm-i'>Bailey BM I</a>V** | Bailey, D. M. *Lamps of Metal and Stone, and Lampstands.* Vol. 4 of *A Catalogue of the Lamps in the British Museum.* London, 1996. |
| **<a href='../bibliography/#bar'>BAR</a>** | *British Archaeological Reports*. |
| ***<a href='../bibliography/#bcth'>BCTH</a>*** | *Bulletin archéologique du Comité des Travaux Historiques*. |
| ***Byzance*** | *Byzance: L’Art byzantin dans les collections publiques françaises.* Paris, 1992. |
| **<a href='../bibliography/#carthage-i'>Carthage I</a>** | Humphrey, J. H., ed. *Excavations at Carthage 1975, Conducted by the University of Michigan*. Vol. 1. Tunis, 1976. |
| **<a href='../bibliography/#carthage-i'>Carthage I</a>I** | Humphrey, J. H., ed. *Excavations at Carthage 1975, Conducted by the University of Michigan*. Vol. 2. Ann Arbor, 1978. |
| **<a href='../bibliography/#carthage-i'>Carthage I</a>V** | Humphrey, J. H., ed. *Excavations at Carthage 1976, Conducted by the University of Michigan*. Vol. 4. Ann Arbor, 1978. |
| ***CIL*** | *Corpus Inscriptionum Latinarum.* 17 vols. Berlin, 1817–1922. |
| ***DACL*** | Cabrol, F., and H. Leclercq. In *Dictionnaire d’archéologie chrétienne et de liturgie* 8:1086–1221. Paris, 1928. |
| ***Ephesos*** **I** | *Forschungen in Ephesos*. Vol. 1. Vienna, 1906. |
| ***Ephesos*** **IV** | *Forschungen in Ephesos.* Vol. 4.2. Vienna, 1937. |
| ***Ephesos*** **IX** | *Forschungen in Ephesos.* Vol. 9.2.3. *Die Basilika am Staatsmarkt in Ephesos*. Part 2. *Funde klassischer bis römischer Zeit*, ed. V. Mitsopoulos-Leon and C. Lang-Auinger. Vienna, 2007. |
| ***LIMC*** | *Lexicon Iconographicum Mythologiæ Classicæ*. 8 vols. Zurich, 1981–97. |
| **MNR** | Barbera, M., and R. Petriaggi. *Le lucerne tardo-antiche di produzione africana del Museo Nazionale Romano*. Rome, 1993. |
| ***RE*** | Pauly, A. F. von, and G. Wissowa. *Real-Encyclopädie der klassischen Altertumswissenschaft.* Stuttgart, 1893–. |
| ***Répertoire*** | Bussière, J., and J.-C. Rivel. *Répertoire de fleurons sur bandeaux de lampes africaines type Hayes II.* Oxford, 2015. |

<div class="references">
  <ul>
    <% data.references.each do |reference| %>
    <li id="<%= reference.id %>">
      <p>
      <strong><%= reference.name %></strong><br />
      <%= reference.contents %>
      </p>
    </li>
    <% end %>
  </ul>
</div>
