---
title: Bibliography
layout: page
sort_order: 206
---

<div class="references">
  <ul>
    <% data.references.each do |reference| %>
    <li id="<%= reference.id %>">
      <p>
      <strong><%= reference.name %></strong><br />
      <%= reference.contents %>
      </p>
    </li>
    <% end %>
  </ul>
</div>
