---
layout: entry
sort_order: 39
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "1": Loeschcke type I
 - "1.3": Loeschcke type I B/C
cat: [119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129]
---

Goethert-Polascheck has rightly felt the need to create a further type—I B/C—for lamps with intermediary nozzle forms, between Loeschcke forms I B and I C (<a href='../../bibliography/#goethert-polaschek-1985'>Goethert-Polaschek 1985</a>, p. 16, fig. 7). In form I B the distance between the volute-spines is larger than the distance between the two angled sides of the nozzle tip; form I C it is just the opposite (see <%= link_to "fig. 1", "catalogue/augustan-and-imperial.html#fig_01" %>). In nozzle form B/C these two distances are nearly identical, so it is sometimes difficult to distinguish between forms B and C. Among the Getty lamps of Loeschcke type I B/C one finds shoulder forms II a (1 ex.), III a (5 ex.), and III a var. (2 ex.); these forms are present in Loeschcke type I B. One also finds shoulder form VII a (1 ex.), present in Loeschcke type I C. Only one lamp, cat. 128, has a handle; because of its blurred surface and flat base, this lamp is assigned to the Late Flavian period. Four lamps have a raised base-ring and six a flat base marked off by one circular groove. Five discus decors are related to mythology, four to animals, and one to daily life. Bailey‘s dating is Claudian to Early Flavian.
