---
layout: entry
sort_order: 40
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "1": Loeschcke type I
 - "1.4": Loeschcke type I C
cat: [130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142]
---

<a href='../../bibliography/#bailey-bm-ii'>Bailey BM II</a> includes nine lamps (Q 838–Q 846) in his type A group v, which corresponds to Loeschcke type I C. In fact, only two (Q 841 and Q 842) have Loeschcke nozzle form C. The others have the intermediate nozzle form B/C defined by Goethert-Polaschek, whose Trier lamp catalogue was published five years after BM II. Moreover, the nine lamps in question all have a handle, which none of the Getty lamps of type I C has. The BM lamps also have Loeschcke shoulder forms IV a and IV b, while the Getty lamps have shoulder forms III a and III a var., with one exception that has form VII b. For these various reasons Bailey’s type A group v will not be used here.

As already said, in Loeschcke nozzle form C the distance between the volute-spines is less than the distance between the angles of the nozzle tip (see <%= link_to "fig. 2", "catalogue/augustan-and-imperial.html#fig_02" %>). The size of the nozzle is greater than that of Loeschcke type I A and often, but not always, greater than the nozzle size of type I B. The dominant shoulder form among the Getty lamps is form III a (11 ex.) or III a var. (2 ex.). It is accompanied by a flat base marked off by one groove. For the Getty lamps with these characteristics the suggested date is Claudian to Flavian. Cat. 142, signed <span class="inscription">COPPI.RES</span>, active A.D. 80–160, was made in the Early Flavian phase of production of this workshop. Two other potter’s marks are recorded: a *planta pedis* on cat. 141, and incuse letters <span class="inscription">P.A.</span> on cat. 134. Only cat. 118 has Loeschke shoulder form VII b and a base-ring. No type I C lamp has a handle. Out of a total of fourteen discus decors, five are related to the amphitheater and circus, four to mythology, two to animals, two to everyday life, and one is a symplegma.
