---
layout: entry
sort_order: 44
hierarchy:
- III: Roman-Period Clay Lamps
- A: Types from both Western and Eastern Provinces of the Roman Empire
- b: Augustan and Imperial Lamps
- "4": Loeschcke type IV
- a: Bailey type B group i, early variants
cat: [161, 162, 163, 164, 165]
---

The five Getty lamps of this group all have a flat shoulder, two decorated with rills (cats. 161, 162), two with Loeschcke shoulder forms II a and II b (cats. 163, 164), and one decorated with a row of ovolos (cat. 165), as already seen on Getty lamps of Loeschcke type I A (<%= link_to "83–84", "../catalogue/76-84.html" %>). The nozzle of these five lamps is small and rather short. Three examples have the V-shaped channel characteristic in the Augustan Loeschcke type I A. Cat. 161 has a rilled base, the others have a base-ring, which is a sign of an early date. Three have a handle, which is not found on the BM type I A series, but which is a common feature on lamps of the same type discovered in Augustan <a href='../../map/#loc_109029'>Haltern</a>, where they were perhaps locally made. Bailey gives his group i an Augustan to Claudian date.
