---
layout: entry
sort_order: 20
hierarchy:
 - II: II. Greek and Hellenistic Clay Lamps
 - A: Wheelmade Lamps
 - "9": Bruneau’s <em>Lampes dites Cnidiennes à entonnoir central</em> group III (Cnidian lamps with central funnel)
cat: 18
cover: 18
---

Cat. 18 has a bottle-shaped body with a funnel-shaped collar on a narrow neck and a long tubular nozzle splayed at the end. It is wheelmade in a light red clay (with a reddish-brown slip) and not in the typical gray Cnidian clay such as, for example, Bailey’s Q 273 from <a href='../../map/#loc_599575'>Cnidus</a>, or Bruneau’s no. 1957 from <a href='../../map/#loc_599588'>Delos</a>, both decorated with the typical Cnidian molded slave masks and applied discs (see also <%= link_to "cat. 17", "../catalogue/17.html#17" %>). Bailey reports many examples from <a href='../../map/#loc_491678'>Olynthos</a> and in the Ptolemaic camp at <a href='../../map/#loc_579990'>Koroni</a>. He dates the BM examples to the first half of the second century B.C. (<a href='../../bibliography/#bailey-bm-i'>Bailey BM I</a>, p. 136). Both <a href='../../bibliography/#bruneau-1965'>Bruneau 1965</a>, with his example no. 1957 found at <a href='../../map/#loc_599588'>Delos</a>, and <a href='../../bibliography/#iconomu-1967'>Iconomu
  1967</a>, with a similar one found at <a href='../../map/#loc_305064'>Constantia</a>, suggest a date from the second half of the second century to the first quarter of the first century B.C.
