---
layout: entry
sort_order: 85
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - I: Lamps with round-tipped nozzle
 - "1": Italic and African lamps
 - f: Bussière form D VII
cat: [312, 313, 314]
cover: 313
---

This type has a wide basin, much larger than the average size of the standard form Bussière D II 1: 9.4 cm instead of 7 cm. The shoulder form can be Loeschcke VI b, VII b, or VIII b. The nozzle form varies.

Cat. 312 has white-greenish thick vitreous glaze, shoulder form Loeschcke VI b, and nozzle form Bus. 4e. Its discus is decorated with a myrtle wreath. Its narrow base is slightly raised and impressed by an illegible incuse workshop signature.

Cats. 313 and 314 have shoulder form Loeschcke VIII b and plain discus. Their base is marked off by one circular groove. Cat. 313has an African workshop signature, <span class="inscription">EXOF/ICINA/LVCI</span>, active in the second century A.D. Cat. 314 likewise shows an African workshop signature, <span class="inscription">LVCCEIO/RVM</span>, active A.D. 175–225. <span class="inscription">LVCI</span> signed two Algerian lamps of Bussière form D VII (<a href='../../bibliography/#bussiere-2000'>Bussière 2000</a>, p. 340, nos. 2878–79). Date: Second half of the second century A.D.
