---
layout: entry
sort_order: 96
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - I: Lamps with round-tipped nozzle
 - "2": Eastern lamps
 - i: Bussière form D IV
cat: 347
---

With its shoulder panels and its nozzle form Bus. 5, cat. 347 is related both to Loeschcke types IX–X (*Firmalampen*) and to Bussière form D III (*lampes galettes*). Its shoulder form is similar to that of form D III 3. The discus is plain as on the few known similar examples.

The base-ring bears the workshop signature <span class="inscription">SERGPRIM</span>, an Italic workshop active from the Late Flavian to the Trajanic period (according to Bailey), from Hadrianic to Antonine (according to Pavolini). An identical example with the same signature is one of three lamps of the form found in Algeria (<a href='../../bibliography/#bussiere-2000'>Bussière 2000</a>, p. 337, no. 2751, pl. 74). Bussière no. 2752 is not signed; no. 2753, with an illegible signature, was found associated with a coin of Domitian in a tomb in one of <a href='../../map/#loc_295363'>Tipasa</a>’s necropoleis. Besides the three Algerian lamps, other similar examples are known: one in the Bibliothèque Nationale, Paris, signed <span class="inscription">CATILVEST</span>, a workshop active from the Late Flavian to the Early Antonine period (<a href='../../bibliography/#hellmann-1987'>Hellmann 1987</a>, no. 291, pls. 37–38); one from Rome, signed <span class="inscription">NNAELVCI</span>, a workshop active from the Late Flavian to the Hadrianic period (<a href='../../bibliography/#vermaseren-van-essen-1965'>Vermaseren and van Essen 1965</a>, no. 438, pl. 113.4); and one of unknown place of manufacture or origin signed <span class="inscription">MNOVIVSTI</span>, a workshop active between A.D. 120 and 180 (<a href='../../bibliography/#szentleleky-1969'>Szentléleky 1969</a>, no. 173). Date: between the end of the first century and the second quarter of the second century A.D.
