---
layout: entry
sort_order: 111
hierarchy:
 - III: Roman-Period Clay Lamps
 - A: Types from both Western and Eastern Provinces of the Roman Empire
 - b: Augustan and Imperial Lamps
 - "14": Loeschcke type VIII
 - II: Lamps with heart-shaped nozzle
 - "2": Eastern lamps
 - e: Bussière form D X 6
cat: [430, 431, 432]
---

Form D X 6 comprises lamps characterized by a decor of rows of shoulder globules. Cats. 430–32 have shoulder forms absent in Loeschcke’s classification; <%= link_to "cats. 394–95", "../catalogue/394-95.html" %> have Loeschcke shoulder form VIII b; all have nozzle form Bus. 10b. The nozzle underside of cat. 394 is decorated with a row of small tongues between two twisted cords, that of <%= link_to "cat. 395", "../catalogue/394-95.html" %> with a striated band between two curved lines. Cats. 430 and 432 have a plain discus, cat. 431 a deer, and <%= link_to "cats. 394–95", "../catalogue/394-95.html" %> Mars.

One lamp has a base marked off by one groove, the four others have a base-ring. Lamps of form D X 6 have rounded or heart-shape nozzles (Bus. 4a or Bus. 10b). Those with nozzle form Bus. 4a are assigned to the second half of the second century, as confirmed by an example found in a tomb in <a href='../../map/#loc_295363'>Tipasa</a> necropolis *de la Porte de Césarée,* which ceased to be used around A.D. 180. On its discus (as an obol to Charon) lay a sestertius of Marcus Aurelius of A.D. 140–43. Those with nozzle form Bus. 10b were produced during the second half of third century. The excavations by University of Michigan at <a href='../../map/#loc_314921'>Carthage</a> have yielded about fifteen frr. (identical to <a href='../../bibliography/#deneauve-1969'>Deneauve 1969</a>, no. 999); they derived from layer XIV, dated to the end of the fourth century A.D. Also at Carthage, a ceramic deposit dated approximately to the mid-fifth century A.D. has yielded a few more (<a href='../../bibliography/#neuru-1980'>Neuru 1980</a>, no. 198, pl. 2, L 1; see also <a href='../../bibliography/#rossiter-1988'>Rossiter 1988</a>, group 4, pl. 2).

(See also <%= link_to "cats. 394–95", "../catalogue/394-95.html" %>.)
{:.see-also}
