---
layout: entry
sort_order: 139
hierarchy:
 - III: III. Roman-Period Clay Lamps
 - C: Types from Eastern Provinces only
 - b: Augustan and Imperial Lamps
 - "35": Syro-Palestinian lamp related to Loeschcke type II
cat: 512
---

The few parallels found for cat. 512 are: <a href='../../bibliography/#djuric-1995'>Djuric 1995</a>, nos. C 167–C 168 and C 174 (the Anawati collection); <a href='../../bibliography/#rey-coquais-1964'>Rey-Coquais 1964</a>, nos. 21–22, especially no. 22, pl. 7, whose only difference with cat. 512 is a plain shoulder; and <a href='../../bibliography/#bailey-bm-iii'>Bailey BM III</a>, Q 2297, pl. 57, very close, except for its decor of one small rosette on each side of the shoulder. Those three publications give little information about this unrecorded type. Its circular discus and angular nozzle evoke Loeschcke type II, but one must remember that angular nozzles have been popular on different types of lamps from various periods and geographical areas (e.g., the revival of this shape in Tunisia in Severan times: see introduction to <%= link_to "introduction to cats. 463–71", "../catalogue/463-71.html" %>). The near parallels found are all from the Levant, Lebanon, and Syria and point to a Near Eastern place of manufacture or origin for cat. 512 whose place of manufacture or origin is not given by Schüller. We give this lamp the date suggested by Bailey for Q 2297: Neronian to Trajanic.
