---
layout: entry
sort_order: 141
hierarchy:
 - III: Roman-Period Clay Lamps
 - C: Types from Eastern Provinces only
 - b: Augustan and Imperial Lamps
 - "37": Lamp with heart-shaped discus and angular nozzle
cat: 514
---

The closest parallel found to this rare shape is a lamp from the Athenian Agora, which has sharper nozzle angles and an ornament handle (<a href='../../bibliography/#perlzweig-1961'>Perlzweig 1961</a>, no. 90, pl. 4). The color of clay and slip of cat. 514, the depth of its basin, the small circles impressed on the shoulder near the handle and on the nozzle, and the *planta pedis* on its base with three small circles, attest to the eastern place of manufacture or origin of this item purchased in Asia Minor (see introduction <%= link_to "14. Loeschcke type VIII. a. General remarks", "catalogue/loeschcke-type-viii" %>). Perlzweig dates the Athenian Agora lamp no. 90 to the mid-first century A.D. The sharpness of its nozzle angles and its ornament handle point to an earlier date than we propose for cat. 514: end of the first century A.D. or later.
