---
layout: entry
sort_order: 142
hierarchy:
 - III: Roman-Period Clay Lamps
 - C: Types from Eastern Provinces only
 - b: Augustan and Imperial Lamps
 - "38": Loeschcke type V, or Deneauve type V F, eastern elongated variant
cat: [515, 516, 517]
---

Haken (1958, p. 61, no. 59, pl. 7) classifies a lamp of a form close to cats. 515–17 within Loeschcke type V. Bailey (BM III, Q 1950–Q 1951, pl. 36, from Egypt, and Q 3024–Q 3025, pl. 99, from <a href='../../map/#loc_599612'>Ephesus</a>) records four lamps of a similar form as an “elongated variant of Loeschcke type V”; indeed, those lamps no longer have the canonical characteristics of Loeschcke type V, that is, shoulder-volutes and a closed circular discus. While having a similar general shape, the three Getty lamps show some slight differences with the BM examples: cat. 515 has a circular and not tear-shaped discus; cats. 516–17 have a much broader channel connecting the discus to the nozzle; the two small volutes, still present on cats. 515–16, have disappeared on cat. 517, replaced by two small circles and two parallel grooves.

Apart from the BM examples, and Haken’s lamp 59 from Smyrna, other close forms can be related to the three Getty lamps: Hayes (1980) no. 475, and Waldhauer (1914) no. 257, both from Egypt (like BM Q 1950–Q 1951); Menzel (1969) no. 260, from <a href='../../map/#loc_599799'>Miletus</a>; Heimerl (2001) nos. 220–21, pl. 6, from <a href='../../map/#loc_550812'>Pergamon</a>; Perlzweig (1961) no. 159, from the Athenian Agora; Bochum Museum, Schüller Collection, cat. no. 515. All these comparanda come from the eastern Mediterranean, as is the case with the three Getty lamps. This is confirmed by the presence of two or three small impressed circles at the foot of the handle of cat. 516 and on the shoulder on each side of the handle and nozzle of cat. 517, which bears a *planta pedis* (see introduction <%= link_to "14. Loeschcke type VIII. a. General remarks", "catalogue/loeschcke-type-viii" %>). Haken thinks that lamps with the characteristic shape here discussed are not Italian products, but Greek ones from the eastern part of the empire (Haken 1958, p. 61). However, another variant of Loeschcke type V should be mentioned here: Deneauve type V F, an Italian form developed during the second half of the first century and present in Herculaneum, Pompeii, and Africa (Bussière 2000, p. 25, form C V 1, fig. 7, described p. 82). It certainly also has some affinity with the variant here discussed.

The chronology for the three Getty lamps is not easy to determine. Haken dates his lamp 59 to the second quarter of the first century A.D., which seems too early; Bailey dates his lamps Q 3024–Q 3025 to Flavian–Trajanic; Perlzweig, lamp no. 159, to the first half of the second century A.D.; Bailey, lamps Q 1950–Q 1951, to the second half of the second century into the third century; and Hayes, lamp no. 475, with its cross-monogram, to A.D. 350–450. We suggest the second century A.D. for cats. 515–16 and a later date—second or third century A.D.—for cat. 517, which no longer has any volutes.
