---
layout: entry
sort_order: 156
hierarchy:
 - III: III. Roman-Period Clay Lamps
 - G: Ring-shaped, or Corona, Lamps
cat: [573, 574, 575, 576]
cover: 574
---

Multinozzled ring-shaped lamps were devoted to sanctuary use during the Archaic and Classical periods in Greece. The earliest examples found in the Athenian Agora date back to the second half of the fifth century B.C. (<a href='../../bibliography/#howland-1958'>Howland 1958</a>, p. 128). In the Hellenistic period, corona lamps, which could have more than twenty nozzles (<a href='../../bibliography/#bruneau-1965'>Bruneau 1965</a>, pp. 39 and 111, pl. 26), were made also for domestic use in wealthy households. The type lasted through the Roman period and well into the Byzantine and Islamic periods; the lamps were either placed on a flat surface or suspended. Corona lamps could be moldmade or wheelmade (see <a href='../../bibliography/#bailey-bm-i'>Bailey BM I</a>, Q 294, pl. 52, and Q 292, pl. 50).

Purchased in Asia Minor, the hand-modeled cat. 573 is not so much a multinozzled ring-shaped lamp as an assemblage of five whole lamps set in a ring on top of a cylindrical support. Such assemblages of several lamps, making up one large lighting device, date back to the Archaic period (see <a href='../../bibliography/#bailey-bm-iii'>Bailey BM III</a>, addendum to vol. 1, p. 452, Q 462 bis, pl. 150, dated second half of the sixth century B.C. or a little later). The five lamps assembled in cat. 573 are similar to <%= link_to "cat. 8", "../catalogue/7-8.html#8" %>, a close parallel to a lamp from <a href='../../map/#loc_589913'>Lindos</a> dated to the second third of the fifth century B.C. (<a href='../../bibliography/#kassab-tezgor-sezer-1995'>Kassab Tezgör and Sezer 1995</a>, no. 141).

Without any parallel to the moldmade ring-shaped lamp cat. 574, from Turkey, we can only make conjectures. The elegant leaf-shaped ornament handle evokes similar handles on Loeschcke type III lamps with volute-nozzles. The Early Imperial Roman examples imitated Hellenistic models and might be supplied with elaborate ornament handles (<a href='../../bibliography/#bruneau-1965'>Bruneau 1965</a>, nos. 4745 or 4739, pl. 35). The flat ridge surrounding the wick-holes of cat. 574 is also a Hellenistic feature. However, its short round nozzles suggest Loeschcke type VIII, although lamps of this form, as a rule, do not have ornament handles (for a few exceptions, see <a href='../../bibliography/#waldhauer-1914'>Waldhauer 1914</a>, no. 277, pl. 28, no. 278, pl. 29, and no. 288, pl. 30, early Italian examples of the type). Lack of comparanda makes dating and typology problematic.

The moldmade ring-shaped suspension lamp cat. 575 with unknown place of manufacture or origin, for which we have no exact parallel, raises fewer problems: the round shape of its nozzles points to a Roman artifact, possibly of the second to third century A.D.

Wheelmade cat. 576, with unknown place of manufacture or origin but presumably from Asia Minor, is tentatively attributed to the Byzantine period, solely on the assumption that its cut-out bottom represents a Greek cross.
